.Nav_list_color{
    background-color: #DADBFF !important;
    box-shadow:2px 2px 2px white inset,0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    border-radius:5% !important;
    /* width:80% !important; */
}