
 .timeline-img{
    padding-top:1vh;
    height: 40vh !important;

}
#cover-dashboard-div{
    height:100%;
    
    /* background-image: url("../images/image4.png");
    background-size: cover;  */
  
   }
@media screen and (max-width: 600px) {
    .timeline-img{
        padding-top:3vh;
        height: 40vh !important;
    }
    .nav-rem{
        display:none;
        display:hidden;
    }
    #cover-dashboard-div{
        height:100%;
        
        background-image: url("../images/image4.png");
        background-size: cover; 
       }
       .mobile-res{
        margin-right:5vh !important;
        margin-left:2vh !important;
       }
       .mobile-res-noofapp{
        margin-right:5vh !important;
        margin-left:1vh !important;
       }
       /* .mobile-res-tasks{
        margin-right:20vw !important;
        margin-left:1vw !important;
       } */
       
    
}