@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.MuiChip-colorSecondary {
  background-color: #09c1d7 !important;
}

.MuiButton-root {
  font-family: "Poppins", sans-serif !important;
}

.MuiButton-containedSecondary {
  background-color: #09c1d7 !important;
}
.input {
  border: none;
  background-color: #fafafa !important;
  border-radius: 12px !important;
  box-shadow: 0.2px 0.2px 3px #eeecec ,
  inset -3px -3px 7px #fafafa,
  inset 3px 3px 7px rgba(199, 206, 219, 0.945);    

  width:82%;


 }
 .input:focus {
  outline-color: #e8e8e8;

  color: #595959;

  box-shadow: inset 1px 1px 2px #BABECC,
         inset -1px -1px 2px #ffffff73;
 

 }
.toggle-nav{
  visibility: collapse;

  
 }
.class1{

    
    background-size: cover;
    height:100vh;
    
    /* background-image: linear-gradient(to bottom right,  white, #D7B4F3); */
     background-image: linear-gradient(  to bottom right,#FFFFFF 25% , #DAE4FF , #EFE7FF  ,#D3C3FF );


}
.heading_profile{
  font-size: 35px !important;
}
@media screen and (max-width: 700px) {
  .toggle-nav{
    visibility: visible;
    margin-left:5px !important;
    padding-left:5px !important;
   }

   .class1{
    padding-right:4vw !important;
   }

   
}

@media screen and (max-width: 400px) {
  .toggle-nav{
    visibility: visible;
    margin-left:5px !important;
    padding-left:5px !important;
    
   }
 
}