@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.MuiChip-colorSecondary {
  background-color: #09c1d7 !important;
}

.MuiButton-root {
  font-family: "Poppins", sans-serif !important;
}

.MuiButton-containedSecondary {
  background-color: #09c1d7 !important;
}
.class1{
  background-image: url('../images/image3.png');
  background-size:cover;

}