@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.MuiChip-colorSecondary {
  background-color: #09c1d7 !important;
}

.MuiButton-root {
  font-family: "Poppins", sans-serif !important;
}

.MuiButton-containedSecondary {
  background-color: #09c1d7 !important;
}
.class1{

    
    background-size: cover;
    
    /* background-image: linear-gradient(to bottom right,  white, #D7B4F3); */
    background-image: linear-gradient(190deg, white 50%, #7B5BBC 100%);


}
.heading_profile{
  font-size: 35px !important;
}