@media screen and (max-width: 600px){
    #tasks-mobile-heading{
       
        padding-left:2.6vw;
    }
    #tasks-mobile-card{
        margin-right:5vh !important;
        margin-left:1vh !important;
        
    }
    .reserved-space{
       margin-right:5vw !important;
       margin-left:5vw !important;

        
    }
    /* .MuiTabs-scrollButtons.Mui-disabled {
        opacity: 0.3;
      } */
}